@import "vars";

body {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    background: #FFFFFF;
    min-height: 100vh;
}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.d-none {
    display: none !important;
}

a {
    color: $accent;
}

p {
    color: $black;
    margin-top: 0;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

div {
    box-sizing: border-box;
}

.title-bl {
    font-size: 22px;
    line-height: 29px;
    font-weight: 500;
    color: $blueDark;
    margin-top: 0;
    margin-bottom: 28px;
    padding-left: 20px;
    text-transform: uppercase;
    @media (max-width: 500px) {
        font-size: 18px;
        margin-bottom: 12px;
        padding-left: 10px;
    }
    &.text-center {
        text-align: center;
        padding-left: 0;
    }
    &.title-large {
        font-size: 30px;
        text-transform: none;
        @media (max-width: 500px) {
            font-size: 22px;
        }
    }
}

.text-center {
    text-align: center;
}

.subtitle {
    font-size: 16px;
    color: #3f3f3f;
    margin-bottom: 80px;
    line-height: 150%;
    @media (max-width: 500px) {
        font-size: 14px;
        margin-bottom: 40px;
    }
}


.art-button {
    display: inline-block;
    text-decoration: none;
    background: rgb(250,153,153);
    background: linear-gradient(51deg, rgba(250,153,153,1) 0%, rgba(255,69,150,1) 100%);
    color: $white;
    border-radius: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    padding: 0 38px;
    height: 40px;
    box-sizing: border-box;
    text-transform: uppercase;
    &:hover {
        background: linear-gradient(51deg, rgba(255,69,150,1) 0%, rgba(250,153,153,1) 100%);
        transition: 0.5s;
    }
    &.art-button-2 {
        background: linear-gradient(51deg, rgba(98,126,234,1) 0%, rgba(130,71,229,1) 100%);
        &:hover {
            background: linear-gradient(51deg, rgba(130,71,229,1) 0%, rgba(98,126,234,1) 100%);
        }
    }
}

/* preloader css */

.loader {
    background: rgba(0,0,0,0.7);
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.loader-inner {
    bottom: 0;
    height: 105px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 105px;
}

.loader-line-wrap {
    box-sizing: border-box;
    height: 105px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 105px;
}

.disabled {
    color: #8d8d8d;
    background: #e5e5e5 !important;
    border-color: #F4F4F4;
    pointer-events: none;
}

/* header */ 

.header {
    background: rgb(235,234,250);
    background: url(../images/bg.png) top 60px center no-repeat, linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,234,250,1) 100%);
    position: relative;
    width: 100%;
    body.page & {
        background: url(../images/bg-page.png) top 60px center no-repeat, linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,234,250,1) 100%);
        @media (min-width: 1921px) {
            background-size: 100%;
        }
    }
    @media (min-width: 1921px) {
        background-size: 100%;
    }
    @media (max-width: 1199px) {
        overflow: hidden;
    }
    @media (max-width: 600px) {
        /*background: url(../images/bg.png) top 40px center no-repeat, linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,234,250,1) 100%);*/
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,234,250,1) 100%);
        background-size: 1000px;
    }
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        top: 0;
        z-index: 1;
        @media (max-width: 1199px) {
            height: 100%;
            overflow-x: clip;
        }
        &-lines {
            position: absolute;
            top: 312px;
            max-width: none;
            width: 1765px;
            left: 50%;
            margin-left: -882px;
            @media (min-width: 1765px) {
                top: 200px;
                width: 100%;
                left: 0;
                margin-left: 0;
            }
            @media (min-width: 2100px) {
                top: 0;
            }
            @media (max-width: 600px) {
                display: none;
            }
        }
        &-blur {
            position: absolute;
            top: 0;
            width: 1765px;
            max-width: none;
            left: 50%;
            margin-left: -882px;
            height: 100%;
            @media (min-width: 1765px) {
                width: 100%;
                left: 0;
                margin-left: 0;
            }
        }
    }
    & .container {
        position: relative;
        z-index: 2;
    }
}

.header-top {
    padding: 28px 0;
    @media (max-width: 600px) {
        padding: 10px 0;
        align-items: center;
    }
    &__links {
        & a {
            color: $gray;
            text-decoration: none;
            font-size: 16px;
            line-height: 1;
            text-transform: uppercase;
            position: relative;
            font-weight: 500;
            @media (max-width: 600px) {
                font-size: 12px;
            }
            &:hover {
                color: $black;
                transition: 0.5s;
            }
        }
        & a.language {
            text-decoration: underline;
            padding-left: 41px;
            margin-left: 48px;
            @media (max-width: 600px) {
                padding-left: 35px;
                margin-left: 8px;
            }
            &:hover {
                text-decoration: none;
            }
            & img {
                position: absolute;
                top: -21px;
                left: -8px;
                @media (max-width: 600px) {
                    top: -18px;
                }
            }
        }
    }
}

.logo {
    & a {
        display: block;
        text-decoration: none;
        color: $blueDark;
        font-size: 30px;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 500;
        @media (max-width: 600px) {
            font-size: 25px;
        }
        &:hover {
            color: $accent;
            transition: 0.5s;
        }
    }
}

.video-block {
    /*max-width: 1122px;
    margin: 100px auto 0;*/
    max-width: 722px;
    margin: 53px auto 67px;
    position: relative;
    @media (max-width: 500px) {
       margin-bottom: 20px;
    }
    & .play {
        position: absolute;
        position: absolute;
        top: 66px;
        left: 58px;
        width: 150px;
        height: auto;
        @media (max-width: 991px) {
            position: absolute;
            top: 10%;
            left: 8%;
            width: 17%;
            height: auto;
        }
        @media (max-width: 500px) {
            top: 1%;
        }
        @media (max-width: 370px) {
            top: -6%;
        }
    }
    & .play-img {
        @media (max-width: 500px) {
            margin-top: -35px;
        }
    }
}

.header-video {
    padding-bottom: 20px;
}

.gnft-block {
    max-width: 940px;
    margin: 100px auto 185px;
    position: relative;
    @media (max-width: 991px) {
        max-width: 500px;
    }
    @media (max-width: 600px) {
        max-width: 90%;
        margin-bottom: 140px;
        margin-top: 50px;
    }
    &:before {
        content:'';
        width: 100%;
        height: 100%;
        border: 2px solid $white;
        display: block;
        position: absolute;
        box-shadow: 3px 3px 7px rgba(0,0,0,0.12);
        background: #f5f4fb;
        border-radius: 4px;
        left: 20px;
        top: 20px;
        z-index: 1;
        @media (max-width: 600px) {
            left: 10px;
            top: 10px;
        }
    }
    & .gnft__wrapper {
        position: relative;
        z-index: 2;
    }
}


.gnft {
    &__more-button {
        font-size: 18px;
        color: #FFFFFF;
        font-weight: 500;
        width: 153px;
        height: 153px;
        background: #e389fa;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: -55px auto 0;
        line-height: 205px;
        position: absolute;
        z-index: 0;
        left: 50%;
        margin-left: -113px;
        bottom: -109px;
        @media (max-width: 991px) {
            margin-left: -60px;
        }
        @media (max-width: 600px) {
            bottom: -94px;
        }
    }
    &__wrapper {
        background: rgb(255,255,255);
        background: linear-gradient(51deg, rgba(255,255,255,1) 0%, rgba(235,217,235,1) 100%);
        border: 3px solid $white;
        box-shadow: 1px 1px 7px rgba(0,0,0,0.16);
        padding: 22px;
        border-radius: 4px;
        box-sizing: border-box;
        @media (max-width: 350px) {
            padding: 12px;
        }
    }
    &__right {
        background: $white;
        border-radius: 15px;
        max-width: 430px;
        width: 100%;
        padding: 20px;
    }
    &__left {
        max-width: 424px;
        width: 100%;
        @media (max-width: 991px) {
            margin-bottom: 40px;
        }
        @media (max-width: 600px) {
            margin-bottom: 20px;
        }
    }
    &__img {
        position: absolute;
        top: -44px;
        left: -49px;
        @media (max-width: 600px) {
            position: absolute;
            top: -24px;
            left: -8px;
            width: 100px;
            height: 100px;
        }
        @media (max-width: 350px) {
            width: 70px;
            height: 70px;
        }
    }
    &__title {
        font-size: 90px;
        color: $blueDark;
        display: inline-block;
        position: relative;
        @media (max-width: 600px) {
            font-size: 48px;
        }
        &::before {
            content:'';
            width: 100%;
            height: 3px;
            background: url(../images/line.png) top left repeat;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__subtitle {
        font-size: 22px;
        color: $blueDark;
        margin-top: 7px;
        text-transform: uppercase;
        line-height: 2;
        margin-bottom: 30px;
        @media (max-width: 600px) {
            font-size: 18px;
        }
        @media (max-width: 350px) {
           font-size: 14px;
        }
    }
    &__bl-1 {
        width: 300px;
        margin-left: 120px;
        text-align: center;
        @media (max-width: 600px) {
            width: auto;
            margin-left: 53px;
        }
        @media (max-width: 350px) {
            margin-left: 32px;
        }
    }
    &__text {
        font-size: 18px;
        line-height: 140%;
        color: $blueDark;
        letter-spacing: 1px;
        & strong {
            font-weight: 500;
        }
        @media (max-width: 600px) {
            font-size: 14px;
        }
        & span {
            font-size: 30px;
            text-transform: uppercase;
            @media (max-width: 600px) {
                font-size: 20px;
            }
        }
    }
    &__text-1 {
        position: relative;
        padding-bottom: 7px;
        margin-bottom: 8px;
        &::before {
            content:'';
            width: 100%;
            height: 3px;
            background: url(../images/line.png) top left repeat;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__bl-4 {
        margin-top: 27px;
        & a {
            @media (max-width: 600px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    &__bl-2 {
        & > a,
        & > div {
            text-decoration: none;
            color: $blueDark;
            font-size: 14px;
            display: inline-block;
            padding-left: 47px;
            letter-spacing: 1px;
            position: relative;
            @media (max-width: 600px) {
                display: block;
                margin-bottom: 25px;
            }
            &:hover {
                color: $accent;
                transition: 0.5s;
            }
            &.button-polygon::before {
                content:'';
                width: 35px;
                height: 35px;
                background: url(../images/polygon.png) top center no-repeat;
                display: block;
                position: absolute;
                top: -9px;
                left: 0;
            }
            &.button-ethereum::before {
                content:'';
                width: 35px;
                height: 35px;
                background: url(../images/ethereum.png) top center no-repeat;
                display: block;
                position: absolute;
                top: -9px;
                left: 0;
            }
        }
    }
}

.index {
    &__wrap {
        margin-bottom: 100px;
        @media (max-width: 1080px) {
            justify-content: center;
        }
        @media (max-width: 600px) {
            margin-bottom: 40px;
        }
    }
    &__item {
        width: 100%;
        position: relative;
        max-width: 346px;
        @media (max-width: 1080px) {
            margin: 0 10px 30px;
        }
    }
    &__name {
        font-size: 72px;
        text-transform: uppercase;
        color: $blueDark;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 50px;
        }
    }
    &__wrapper {
        position: relative;
        &:before {
            content:'';
            width: 100%;
            height: 100%;
            border: 2px solid $white;
            display: block;
            position: absolute;
            box-shadow: -3px 3px 7px rgba(0,0,0,0.12);
            background: #f5f4fb;
            border-radius: 4px;
            left: -16px;
            top: 16px;
            z-index: 1;
            opacity: 0.5;
        }
        & .index__block {
            position: relative;
            z-index: 2;
            background: rgb(255,255,255);
            background: linear-gradient(51deg, rgba(255,255,255,1) 0%, rgba(235,217,235,1) 100%);
            border: 3px solid $white;
            box-shadow: 1px 1px 7px rgba(0,0,0,0.16);
            border-radius: 4px;
            box-sizing: border-box;
            text-align: center;
        }
    }
    &__text {
        font-size: 18px;
        color: $blueDark;
        line-height: 150%;
        text-align: center;
        padding: 32px 25px 26px 25px;
        position: relative;
        letter-spacing: 1px;
        margin-bottom: 32px;
        min-height: 139px;
        @media (max-width: 600px) {
            font-size: 14px;
            margin-bottom: 25px;
            padding: 22px 15px 16px 15px;
        }
        & strong {
            display: block;
            font-weight: 500;
        }
        &::before {
            content:'';
            width: 100%;
            height: 3px;
            background: url(../images/line.png) top left repeat;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__block .art-button {
        width: 270px;
        line-height: 48px;
        height: 48px;
        display: block;
        margin: 0 auto 20px;
        padding: 0 10px;
        @media (max-width: 600px) {
            width: 250px;
            height: 40px;
            line-height: 40px;
            margin-bottom: 10px;
        }
    }
    &__block .btn-blue {
        text-decoration: none;
        color: $blueDark;
        font-size: 14px;
        display: inline-block;
        padding-left: 47px;
        letter-spacing: 1px;
        position: relative;
        margin-bottom: 35px;
        margin-top: 20px;
        @media (max-width: 600px) {
            margin-bottom: 25px;
        }
        &:hover {
            color: $accent;
            transition: 0.5s;
        }
        &.btn-polygon::before {
            content:'';
            width: 35px;
            height: 35px;
            background: url(../images/polygon.png) top center no-repeat;
            display: block;
            position: absolute;
            top: -9px;
            left: 0;
        }
        &.btn-ethereum::before {
            content:'';
            width: 35px;
            height: 35px;
            background: url(../images/ethereum.png) top center no-repeat;
            display: block;
            position: absolute;
            top: -9px;
            left: 0;
        }
    }
    &__more {
        font-size: 18px;
        color: $white;
        font-weight: 500;
        width: 153px;
        height: 153px;
        background: #e389fa;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: -55px auto 0;
        line-height: 187px;
        @media (max-width: 600px) {
            font-size: 14px;
            width: 100px;
            height: 100px;
            line-height: 128px;
            margin-top: -32px;
        }
    }
}

.page {
    width: 100%;
    position: relative;
    &__img {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        @media (max-width: 1024px) {
            display: none;
        }
        &-blur {
            width: 100%;
        }
    }
}

.header-main {
    align-items: center;
    height: 876px;
    @media (max-width: 991px) {
        height: auto;
    }
    &__left {
        max-width: 50%;
        width: 100%;
        @media (max-width: 991px) {
            max-width: 100%;
            text-align: center;
        }
    }
    &__right {
        max-width: 46%;
        width: 100%;
        @media (max-width: 991px) {
            max-width: 100%;
            text-align: center;
            padding-bottom: 60px;
            margin-top: 20px;
        }
    }
    &__title {
        font-size: 44px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 30px;
        color: $blueDark;
        letter-spacing: 1px;
        text-transform: uppercase;
        @media (max-width: 991px) {
            max-width: 357px;
            margin: 0 auto 30px;
        }
        @media (max-width: 500px) {
            max-width: 288px;
            margin: 0 auto 20px;
            font-size: 19px;
        }
        & span {
            display: block;
            padding-left: 120px;
            position: relative;
            text-transform: uppercase;
            @media (max-width: 500px) {
                padding-left: 0;
            }
            &::before {
                content: '';
                width: 105px;
                height: 105px;
                background: url(../images/logo-m.png) top center no-repeat;
                display: block;
                position: absolute;
                top: -37px;
                left: 0;
                @media (max-width: 500px) {
                    width: 70px;
                    height: 70px;
                    top: 0;
                    left: 0;
                    background-size: 100%;
                    position: relative;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
        &.header-main__title-c span::before {
            background: url(../images/logo-c.png) top center no-repeat;
            background-size: 100%;
        }
        &.header-main__title-n span::before {
            background: url(../images/logo-n.png) top center no-repeat;
            background-size: 100%;
        }
    }
    &__nft-title {
        font-size: 44px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 30px;
        color: $blueDark;
        letter-spacing: 1px;
        text-transform: uppercase;
        max-width: 432px;
        @media (max-width: 991px) {
            margin: 0 auto 30px;
        }
        @media (max-width: 500px) {
            font-size: 20px;
        }
        & .d-flex {
            justify-content: flex-start;
            align-items: center;
            @media (max-width: 500px) {
                justify-content: center;
                flex-wrap: wrap;
            }
            & img {
                @media (max-width: 500px) {
                    width: 70px;
                    height: auto;
                }
            }
            & span {
                @media (max-width: 500px) {
                    display: block;
                    width: 100%;
                }
            }
        }
        & .letters {
            text-align: center;
            margin-top: -33px;
            @media (max-width: 500px) {
                margin-top: 0;
            }
        }
    }
    &__g-title {
        font-size: 44px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 30px;
        color: $blueDark;
        letter-spacing: 1px;
        text-transform: uppercase;
        max-width: 432px;
        text-align: center;
        @media (max-width: 991px) {
            margin: 0 auto 30px;
        }
        @media (max-width: 500px) {
            font-size: 20px;
        }
    }
    &__text {
        max-width: 432px;
        font-size: 16px;
        color: #3f3f3f;
        margin-left: 26px;
        line-height: 174%;
        @media (max-width: 991px) {
            margin: 0 auto;
        }
        @media (max-width: 500px) {
            margin-left: 0;
        }
    }
    &__contract {
        color: #9b9b9b;
        font-size: 18px;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__id {
        font-size: 16px;
        color: #e900e6;
        margin-bottom: 20px;
        display: block;
        text-decoration: none;
        @media (max-width: 500px) {
            margin-bottom: 0;
        }
        & a {
            font-size: 16px;
            color: #e900e6;
            margin-bottom: 20px;
            text-decoration: none;
        }
        & span {
            padding-left: 5px;
            @media (max-width: 500px) {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 90%;
                display: inline-block;
            }
        }
        & img {
            position: relative;
            top: 4px;
            @media (max-width: 500px) {
                top: 1px;
            }
        }
    }
    &__unicorn,
    &__sushiswap,
    &__stake {
        font-size: 16px;
        color: #3f3f3f;
        text-decoration: none; 
        display: block;
        margin-bottom: 16px;
        & span {
            padding-left: 5px;
        }
        & img {
            position: relative;
            top: 4px;
        }
        &:hover {
            color: #000;
            transition: 0.5s;
        }
    }
    &__stake {
        margin-top: -9px;
        & img {
            position: relative;
            top: 9px;
        }
    }
}

.wrapper-bl {
    position: relative;
    &:before {
        content:'';
        width: 100%;
        height: 100%;
        border: 2px solid $white;
        display: block;
        position: absolute;
        box-shadow: 3px 3px 7px rgba(0,0,0,0.12);
        background: #f5f4fb;
        border-radius: 4px;
        left: 20px;
        top: 20px;
        z-index: 1;
        @media (max-width: 600px) {
            left: 10px;
            top: 10px;
        }
    }
    & .wrap-bl {
        position: relative;
        z-index: 2;
        background: rgb(255,255,255);
        background: linear-gradient(51deg, rgba(255,255,255,1) 0%, rgba(235,217,235,1) 100%);
        border: 3px solid $white;
        box-shadow: 1px 1px 7px rgba(0,0,0,0.16);
        padding: 22px;
        border-radius: 4px;
        box-sizing: border-box;
        @media (max-width: 350px) {
            padding: 12px;
        }
        & p {
            font-size: 18px;
            line-height: 150%;
            color: $blueDark;
            margin-top: 0;
            margin-bottom: 20px;
            letter-spacing: 1px;
            @media (max-width: 991px) {
                font-size: 14px;
            }
        }
    }
}


.block-1 {
    margin-top: 92px;
    margin-bottom: 119px;
    @media (max-width: 600px) {
        margin-top: 40px;
        margin-bottom: 60px;
    }
    & .wrap-bl {
        height: 372px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 74px 74px 74px 20px;
        @media (max-width: 991px) {
            padding: 20px;
            height: auto;
        }
    }
    &__faza {
        & .title-bl {
            text-align: center;
        }
        & .wrap-bl {
            height: 398px;
            padding: 45px 74px 48px 20px;
            @media (max-width: 991px) {
                padding: 20px;
                height: auto;
            }
        }
    }
    &__token {
        margin-top: 0;
        & .title-bl {
            text-align: center;
        }
        & .wrap-bl {
            padding: 45px 74px 48px 20px;
            @media (max-width: 991px) {
                padding: 20px;
                height: auto;
            }
        }
    }
    &__faza-2 {
        & .wrap-bl {
            height: 398px;
            padding: 45px 74px 48px 20px;
            body.gnft & {
                height: 214px;
            }
            @media (max-width: 991px) {
                padding: 20px;
                height: auto;
            }
        }
        & > div:nth-child(3),
        & > div:nth-child(4) {
            margin-top: 100px;
        }
    }
    &__gnft {
        margin-top: 0;
        justify-content: center;
        & .wrapper-bl {
            margin: 0 20px;
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
        & .wrapper-bl::before {
            left: 8px;
            top: 8px;
        }
        & .wrap-bl {
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 48px 20px 44px 20px;
            text-align: center;
            @media (max-width: 500px) {
                padding: 22px 10px 22px 10px;
            }
            & .large-text {
                font-weight: 500;
                font-size: 20px;
                @media (max-width: 500px) {
                    font-size: 18px;
                }
            }
            & .gray {
                color: #3f3f3f;
            }
        }
    }
}

.block-padding-top {
    padding-top: 92px;
    @media (max-width: 600px) {
        padding-top: 40px;
    }
}

.two-column {
    & > div {
        width: 46%;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

.three-column {
    & > div {
        width: 31%;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

.wrap-bl {
    & ol {
        padding: 0;
        margin: 0;
        & li {
            padding: 0 0 20px 0;
            margin: 0 0 20px 0;
            list-style: none;
            font-size: 18px;
            line-height: 140%;
            color: $blueDark;
            display: block;
            position: relative;
            @media (max-width: 600px) {
                font-size: 14px;
            }
            &::before {
                content: '';
                width: 100%;
                height: 3px;
                background: url(../images/line.png) top left repeat;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
            &:last-child {
                margin-bottom: 0;
                padding-bottom: 0;
                &::before {
                    display: none;
                }
            }
            & .num {
                font-weight: bold;
            }
        }
    }
}

.block-2 {
    margin-bottom: 125px;
    @media (max-width: 600px) {
        margin-bottom: 60px;
    }
}

.block-3 {
    max-width: 550px;
    margin: 0 auto 125px;
    text-align: center;
    @media (max-width: 600px) {
        margin-bottom: 60px;
    }
    & .wrap-bl {
        height: 372px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 74px 40px;
        @media (max-width: 991px) {
            padding: 20px;
            height: auto;
        }
    }
}

.block-4 {
    margin-bottom: 100px;
    @media (max-width: 600px) {
        margin-bottom: 60px;
    }
}

.wrap-inner {
    max-width: 545px;
    margin: 46px auto;
    background: $white;
    border-radius: 15px;
    padding: 19px 28px;
    box-shadow: 0 0 7px rgba(139,139,139,0.35);
    @media (max-width: 600px) {
        margin: 20px auto;
    }
    & p {
        position: relative;
        padding-bottom: 20px;
        margin-bottom: 20px;
        @media (max-width: 600px) {
            padding-bottom: 10px;
            margin-bottom: 10px !important;
        }
        &::before {
            content: '';
            width: 100%;
            height: 3px;
            background: url(../images/line.png) top left repeat;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            &::before {
                display: none;
            }
        }
    }
}

.block-icons {
    position: relative;
    &::before,
    &::after {
        content:'';
        width: 1px;
        height: 75px;
        display: block;
        position: absolute;
        background: #d1d9df;
        top: 40px;
        @media (max-width: 1199px) {
            display: none;
        }
    }
    &::before {
        left: 50%;
        margin-left: -234px;
    }
    &::after {
        right: 50%;
        margin-right: -234px;
    }
    &__wrap {
        @media (max-width: 748px) {
            justify-content: center;
        }
    }
    &__item {
        width: 210px;
        text-align: center;
        @media (max-width: 748px) {
            width: 100%;
            margin-bottom: 15px;
        }
        & p {
            font-size: 18px;
            line-height: 150%;
            color: #1d1d1d;
            font-weight: 500;
            margin-top: 15px;
            @media (max-width: 748px) {
                font-size: 16px;
                max-width: 188px;
                margin: 15px auto 0;
            }
        }
    }
}

.block-5 {
    margin-bottom: 120px;
    @media (max-width: 500px) {
        margin-bottom: 50px;
    }
    &__bl {
        width: 480px;
        background: #FFFFFF;
        border-radius: 15px;
        -webkit-box-shadow:0px 0px 71px 25px rgba(228,217,245,0.53);
        -moz-box-shadow: 0px 0px 71px 25px rgba(228,217,245,0.53);
        box-shadow: 0px 0px 71px 25px rgba(228,217,245,0.53);
        padding: 30px 47px;
        box-sizing: border-box;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 40px;
        }
        @media (max-width: 500px) {
            padding: 15px 27px;
        }
    }
    &__wrap {
        align-items: center;
    }
    &__img {
        width: calc(100% - 556px);
        @media (max-width: 991px) {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        & img {
            @media (max-width: 500px) {
                max-width: 80%;
            }
        }
    }
    &__title {
        font-size: 24px;
        color: $blueDark;
        line-height: 150%;
        font-weight: 500;
        margin-bottom: 22px;
        @media (max-width: 500px) {
            font-size: 18px;
            margin-bottom: 12px;
        }
    }
    &__text {
        & p {
            font-size: 16px;
            line-height: 150%;
            color: #3f3f3f;
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }
    }
}

.block-5__wrap-2 {
    margin-top: 40px;
    @media (max-width: 991px) {
        margin-top: 0;
    }
    & .block-5__bl {
        @media (max-width: 991px) {
            order: 1;
        }
        
    }
}


/* copy from site */ 
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
    @media (max-width: 600px) {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


.feature-list-progress {
	display: flex;
    margin-bottom: 50px;
}

@media only screen and (max-width:575px),
only screen and (min-width:768px) and (max-width:991px) {
	.feature-list-progress {
		flex-direction: column;
		align-items: center
	}
}


.feature-list-progress__info {
	margin-left: 40px;
	flex-basis: calc(100% - 170px)
}

@media only screen and (max-width:575px),
only screen and (min-width:768px) and (max-width:991px) {
	.feature-list-progress__info {
		margin-top: 20px
	}
}

.feature-list-progress__title {
    color: #2e3280;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.23;
    font-size: 18px;
}

.feature-list-progress__list {
    margin: 0;
    padding: 0;
    & li {
        list-style: none;
        margin-bottom: 10px;
        line-height: 1.74;
        font-size: 15px;
        color: #343434;
    }
}

.feature-list-progress__counter {
	flex-basis: 160px
}

@media only screen and (max-width:767px) {
	.progress-circle-element .feature-list-progress__counter {
		margin: auto
	}
}

.feature-list-progress__list li {
	margin-bottom: 10px
}

.circle-progress-wrapper {
    position: relative;
}

.chart-progress {
	position: relative;
	width: 160px;
	height: 160px
}

.chart-progress canvas {
	position: absolute
}

.chart-progress.cart-pogress-small {
	width: 140px;
	height: 140px
}

.chart-progress__inner-wrapper {
	width: 100%;
	height: 100%;
	padding: 13px;
	position: relative
}

.chart-progress__inner {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #f76b1c;
	background-image: linear-gradient(-224deg, #fad961, #f76b1c)
}

.chart-progress__inner--blue {
	background-color: #9c7af2;
	background-image: linear-gradient(-224deg, #9c7af2, #5e61e7)
}

.chart-progress__inner--bg-blue {
	background: #5945e6
}

.chart-progress__inner--bg-green {
	background: #38cb89
}

.chart-progress__inner--white {
	background: transparent
}

.chart-progress__inner .circle {
	position: static!important
}

.chart-progress__inner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%)
}

.chart-progress__inner-text {
	color: #fff
}

.chart-progress__inner-text.text-black {
	color: #000;
	font-size: 24px;
	font-weight: 400
}

.circle-design {
	position: absolute;
	border-radius: 50%;
	-webkit-animation: jump 2s infinite;
	animation: jump 2s infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	background-color: #f76b1c;
	background-image: linear-gradient(-224deg, #fad961, #f76b1c)
}

.circle-design.one {
	width: 43px;
	height: 43px;
	left: 0;
	bottom: 28px
}

.circle-design.two {
	width: 17px;
	height: 17px;
	right: -20px;
	top: 50%;
	margin-top: -8px;
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

.circle-design--blue {
	background-color: #9c7af2;
	background-image: linear-gradient(-224deg, #9c7af2, #5e61e7)
}

.circle-design--bg-blue {
	background: #5945e6;
	box-shadow: 0 2px 17px rgba(89, 69, 230, .27)
}

.circle-design--bg-green {
	background: #38cb89;
	box-shadow: 0 2px 17px rgba(89, 69, 230, .27)
}

@-webkit-keyframes jump {
	0% {
		-webkit-transform: translateY(-10px) scale(.9);
		transform: translateY(-10px) scale(.9)
	}
	to {
		-webkit-transform: translateY(10px) scale(1);
		transform: translateY(10px) scale(1)
	}
}

@keyframes jump {
	0% {
		-webkit-transform: translateY(-10px) scale(.9);
		transform: translateY(-10px) scale(.9)
	}
	to {
		-webkit-transform: translateY(10px) scale(1);
		transform: translateY(10px) scale(1)
	}
}

.chart-progress canvas {
	left: 0;
	top: 0
}

.chart-progress__inner .circle {
	display: block!important
}

.circle-percent-text-body {
	position: static!important
}

.percent-text {
	font-size: 34px!important;
	font-weight: 500!important;
	line-height: 130px;
	color: #fff
}



.circle-percent-text-body[data-v-0d4a3ce8] {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* end copy */


.block-6 {
    &__wrap {
        justify-content: center;
    }
    &__item {
        width: 32%;
        background: #FFFFFF;
        border-radius: 15px;
        box-shadow: 0px 0px 71px 25px rgba(228, 217, 245,0.53);
        padding: 22px 20px;
        box-sizing: border-box;
        margin: 0 10px;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 30px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__title {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        color: $blueDark;
        margin-bottom: 25px;
        @media (max-width: 500px) {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }
    &__text {
        font-size: 16px;
        color: #3f3f3f;
        line-height: 150%;
        margin-bottom: 30px;
        @media (max-width: 991px) {
            text-align: center;
        }
        @media (max-width: 500px) {
            font-size: 14px;
            margin-bottom: 12px;
        }
    }
    &__buttons {
        @media (max-width: 991px) {
            max-width: 362px;
            margin: 0 auto;
        }
        @media (max-width: 400px) {
            max-width: 340px;
        }
        & .art-button {
            width: 158px;
            height: 46px;
            white-space: normal;
            padding: 0 25px 2px;
            line-height: 1.2;
            font-size: 14px;
            text-transform: none;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (max-width: 1199px) {
                width: 100%;
                margin-bottom: 10px;
            }
            @media (max-width: 991px) {
                width: 158px;
                margin-bottom: 0;
            }
            @media (max-width: 400px) {
                width: 118px;
            }
        }
    }
}

.block-7 {
    margin-bottom: 100px;
    & > div {
        width: 48%;
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    & .wrapper-bl .wrap-bl {
        height: 100%;
        & p {
            position: relative;
            padding-bottom: 12px;
            min-height: 66px;
            &::before {
                content: '';
                width: 100%;
                height: 3px;
                background: url(../images/line.png) top left repeat;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
    & .wrapper-bl:before {
        left: 8px;
        top: 8px;
    }
}

footer {
    background: url(../images/bg-footer.png) bottom 0 center no-repeat;
    padding-bottom: 60px;
    padding-top: 200px;
    @media (min-width: 1920px) {
        background-size: 100%;
    }
    @media (max-width: 600px) {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    & p {
        font-size: 18px;
        color: #2e3280;
        @media (max-width: 600px) {
            font-size: 16px;
        }
        & a {
            text-decoration: none;
            color: #ff4596;
            &:hover {
                color: #627eea;
                transition: 0.5s;
            }
        }
    }
}